body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #18191a;
  font-family: 'IBM Plex Serif', serif;
  line-height: 30px;
  overflow-x: hidden; }

.ui-developers-position {
  width: 100vw;
  height: 8vh;
  background-color: #2b2c2d;
  position: fixed;
  box-shadow: inset 0px 0px 35px #00000042;
  top: 0;
  z-index: 1; }

.ui-intro-color {
  background-color: #2b2c2d;
  border-top: 1px solid #edd774;
  position: absolute;
  width: 100%;
  z-index: -2;
  height: 200vh; }

.ui-developers-list {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around; }

.ui-name-item {
  list-style: none;
  display: inline-block;
  position: relative;
  width: 10%;
  transition: 1s;
  padding: 2% 5%;
  border-top: 0px solid #2b2c2d;
  border-bottom: 1px solid #edd774; }
  .ui-name-item:hover {
    border-top: 3px solid #edd774;
    transition: 0.8s; }

.ui-name-item a {
  color: #edd774;
  text-decoration: none;
  position: absolute; }

.ui-stories-size {
  height: 100vh;
  width: 100vw;
  margin: 80vh 0; }

.ui-stories-list {
  margin: 0 auto;
  padding: 0;
  width: 60%; }

.ui-herobanner-position {
  position: fixed;
  z-index: -5;
  top: 10vh;
  max-width: 740px;
  left: 0;
  margin: 0 auto;
  right: 0; }

.ui-stories-item {
  background-color: white;
  padding: 2%;
  margin: 2%;
  list-style: none;
  box-shadow: 0px 0px 5px black;
  transition: 1s;
  position: relative; }
  .ui-stories-item:hover {
    box-shadow: 0px 0px 50px black;
    transition: 0.8s; }

.ui-stories-item::after {
  content: "";
  background-image: url(../assets/texture.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 400%;
  height: 100%;
  z-index: -1; }

.ui-stories-item::before {
  content: "";
  background-image: url(../assets/texture.png);
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  right: 0;
  width: 400%;
  height: 100%;
  z-index: -1; }

.ui-stories-item p {
  line-height: 40px; }

.ui-breakline-color {
  display: block;
  height: 5px;
  margin: 20%;
  background-image: linear-gradient(to right, #f1e199, #776a2b); }

.post-img-size {
  margin: 2% auto;
  width: 100%; }

.ui-aboutproj-size {
  width: 40%;
  float: right;
  margin: 0 5%;
  color: #edd774; }

.ui-aboutdevs-size {
  width: 40%;
  margin: 0 5%;
  float: left;
  color: #edd774; }

.ui-stories-size::before {
  content: "";
  display: block;
  clear: both; }

.ui-listdevs-display {
  height: 100%;
  padding: 0;
  margin: 0; }

.ui-listdevs-display li {
  list-style: none;
  margin: 2%;
  border-bottom: 2px solid white;
  padding: 1%;
  transition: 1s; }

.ui-listdevs-hidden {
  height: 0px;
  overflow: hidden; }

.ui-button-size {
  height: 30px;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 0;
  background-color: #edd774;
  border: none;
  color: #2b2c2d;
  border-radius: 5px;
  transition: 1s; }
  .ui-button-size:hover {
    background-color: #be9a4c;
    transition: 0.8s; }

/*# sourceMappingURL=style.css.map */
